.rect {
    width: 30px;
    height: 30px;
    background-color: #dca6d1;
    display: inline-block;
    margin: 2px;
}

.info {
    border: 1px solid black;
    padding: 7px;
    text-align: center;
}

.points {
    float: left;
}

.counter {
    float: right;
}

main ul.history:not(:empty) {
    border: 1px solid black;
    padding: 7px;
    margin-top: 2vh;
}

main ul.history li {
    list-style: none;
}