#map .row {
    text-align: center;
}

.rect {
    width: 30px;
    height: 30px;
    background-color: #dca6d1;
    display: inline-block;
    margin: 2px;
}

.rect.out-map {
    background-color: #c1d0dc;
}
.rect.snake-0 {
    background-color: #8165f3;
}
.rect.snake-1 {
    background-color: #eff36a;
}
.rect.apple {
    background-color: #97dcd5;
}

.info {
    border: 1px solid black;
    padding: 7px;
    margin-bottom: 1em;
    text-align: center;
    justify-content: space-between;
    display: flex;
}

main ul.history:not(:empty) {
    border: 1px solid black;
    padding: 7px;
    margin-top: 2vh;
}

main ul.history li {
    list-style: none;
}